<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
/*Jquery의 문법 형식  (누구를).어떻게 , 누구를 자리에 올수있는 요소?
CSS의 selector가 올수 있다..
*/    
$(function(){ //onLoad되면....
    //수정
    $($("input[type=button]")[0]).click(function(){ 
      if(confirm("작성하신 내용으로 수정할까요?")){
        $("form").attr("action", "/member/edit");//이 요청을 받을 서버의 주소
        $("form").attr("method", "post"); //전송방식을 post로 지정
        $("form").submit(); //폼양식에 입력한 데이터를 서버로 전송~~~~
      }
    });

    //삭제요청
    $($("input[type=button]")[1]).click(function(){
      if(confirm("삭제하시겠습니까?")){
        location.href="/member/del?member_id=<%=record.member_id%>";
      }
    });

    //목록요청
    $($("input[type=button]")[2]).click(function(){
      location.href="/member/list"; //get 방식의 요청!!
    });

});

</script>
</head>
<body>

<h3>회원정보 상세보기</h3>

<div class="container">
    <!-- 폼태그의 속성 중 action은 이 폼양식을 전송할 대상 서버의 url을 명시할 수 있다 -->
    <!-- 
      id 와 name 공통점과 차이점 
      공통점)  문서내의 요소를 식별하기 위함 
      차이점)  id-유일해야 함, name-중복허용(배열로 인식)
                  name은 폼 전송시 전송 파라미터역할을 한다 , 즉 변수 역할을 한다!!!
                  이때 전송 파라미터로서의 name의 이름은 주로  db의 테이블의 컬럼명과 일치시키는 규칙..
     -->
  <%="ejs파일로 넘겨받은 레코드는 "+record %>
  <form>
    <label for="user_id">ID</label>
    <input type="text" id="user_id" name="user_id" value="<%=record.user_id%>">

    <label for="user_pass">Password</label>
    <input type="password" id="user_pass" name="user_pass" value="<%=record.user_pass%>">

    <label for="user_name">Name</label>
    <input type="text" id="user_name" name="user_name" value="<%=record.user_name%>">

    <!-- 이 텍스트 필드는, member_id값을 넘기기 위한 용도이다. -->
    <input type="hidden" name="member_id" value="<%=record.member_id%>">

    <!-- input 태그의 type중 submit은 디폴트로 전송기능이 포함되어 있기 때문에 
    클릭만으로도, 전송이 발생함 , 따라서 일반 버튼화시켜놓자 -->
    <input type="button" value="수정">
    <input type="button" value="삭제">
    <input type="button" value="목록">
  </form>
</div>

</body>
</html>