<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
//버튼을 클릭하면, /member/list 페이지 요청!!
$(function(){
  $("button").on("click", function(){
    location.href="/member/form";    //get방식
  });    
});
</script>
</head>
<body>

<h2><%="총회원수는 "+members.length%></h2>

<table>
  <tr>
    <th>pk</th>
    <th>회원아이디</th>
    <th>회원명</th>
    <th>비밀번호</th>
    <th>가입일</th>
  </tr>
  <!-- 서버는 파일의 확장자가 ejs 인경우, html처럼 단순히 읽은후 전송만하는 게 아니다. 
    즉 확장자가 ejs 인 경우엔, 퍼센트로 감싼 영역에 대해서는 , 해석 및 실행까지 해버린다...
    따라서 %영역은 서버측의 스크립트 언어로 볼 수 있다..참고 우리가 지금까지 사용해 왔던 
    script 태그안의 자바스크립트는 
  -->
  
  <% for(var i=0;i<members.length;i++){ %>
  <%var obj=members[i]; //배열에서 i번째 요소를 끄집어서 회원1명을 반환하자!! %>    
  <tr>
    <td><%=obj.member_id%></td>
    <td>
      <a href="/member/detail?member_id=<%=obj.member_id%>"><%=obj.user_id%></a>
    </td>
    <td><%=obj.user_pass%></td>
    <td><%=obj.user_name%></td>
    <td><%=obj.regdate%></td>
  </tr>
  <%} %>
  <tr>
    <td colspan="5">
      <button>가입</button>
    </td>
  </tr>
</table>

</body>
</html>
