<%
/*  페이징 처리를 위한 변수 선언 및 연산
    변수화 시켜놓으면 유지보수 하기가 용이하다
    변수간의 순서는 매우 중요하다...
*/
var totalRecord=1936; //총 레코드 수 
var pageSize=10; //페이지당 보여질 레코드 수
var totalPage=Math.ceil(totalRecord/pageSize); //공식
var blockSize=10; //블럭당 보여질 페이지 수
var currentPage = param.page;//현재 페이지

//firstPage와 lastPage의 공식을 구하는기 위한 힌트!!!!!
//공식은 모두 이전의 변수들을 조합할 수 잇다..
var firstPage=0; //블럭당 for문의 시작 페이지 
var lastPage=0; //블럭당 for문의 마지막 페이지
%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
a{
    text-decoration: none; /* 밑줄 제거 */
}

/*페이지 번호의 스타일*/
.pageNum{
    font-size:20px;
    font-weight:bold;
    color:blue;
}
</style>
</head>
<body>

<h2>뉴스 기사 메인</h2>
<!--  ejs의 표현식 중  = 은 출력의 단축표현식이다, 주의 세미콜론으로 문장의 마무리를 하지 않는다. -->
<%="totalRecord(총 레코드) 는  "+totalRecord%><br>
<%="pageSize(페이지당 보여질 레코드 수) 는  "+pageSize%><br>
<%="totalPage(총 페이지 수) 는  "+totalPage%><br>
<%="blockSize(블럭당 보여질 페이지 수) 는  "+blockSize%><br>
<%="currentPage(현재 페이지 ) 는  "+currentPage%><br>
<table>
    <tr>
        <th>No</th>
        <th>뉴스 제목</th>
        <th>기자명</th>
        <th>등록일</th>
        <th>조회수</th>
    </tr>
    <%for(var i=1;i<=pageSize;i++){%>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
    </tr>
    <%}%>
    <tr>
        <td colspan="5" style="text-align:center">
        <a href="#">◀</a>    
        <%for(var i=firstPage;i<=lastPage;i++){%>
            <!-- pageNum  클래스는 현재 유저가 보고 있는 페이지의 경우만 a태그에 적용.. -->
            <a href="/comments/list?currentPage=<%=i%>" <%if(i==currentPage){%>class="pageNum"<%}%> >[ <%=i%> ]</a>
        <%}%>
        <a href="#">▶</a>
        </td>
    </tr>
</table>

</body>
</html>
